@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

@font-face {
  font-family: 'Editorial New';
  src: url('/assets/fonts/PPEditorialNew-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/assets/fonts/PPEditorialNew-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/assets/fonts/PPEditorialNew-Ultralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/assets/fonts/PPEditorialNew-UltralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/assets/fonts/PPEditorialNew-Ultrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/assets/fonts/PPEditorialNew-UltraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
