<app-menu-navbar></app-menu-navbar>
<div class="container">
  <div class="center-text">
    <h1>
      {{ 'HOME_PAGE.TITLE' | translate }}<br>{{ 'HOME_PAGE.TITLE_LINEBREAK' | translate }}
    </h1>
    <h3>{{ 'HOME_PAGE.SUBTITLE' | translate }}</h3>
    <div class="button-div">
      <p-button
        (onClick)="this.routerService.navigateToLogin()"
        [label]="'HOME_PAGE.GET_STARTED' | translate"
        [rounded]="true"
        size="large"
        [icon]="'pi pi-arrow-right'"
        iconPos="right">
      </p-button>
      <p-button
        (onClick)="this.routerService.navigateToContact()"
        [label]="'HOME_PAGE.LEARN_MORE' | translate"
        [rounded]="true"
        severity="contrast"
        size="large"
        [icon]="'pi pi-arrow-up-right'"
        iconPos="right">
      </p-button>
    </div>

    <div class="carousel-wrapper">
      <p-carousel
        [value]="images"
        [numVisible]="1"
        [circular]="true"
        [autoplayInterval]="5000"
        [showIndicators]="true"
        [showNavigators]="false">
        <ng-template pTemplate="item" let-image>
          <div class="image-container">
            <img [src]="image.src" [alt]="image.alt" style="width: 100%; height: auto;" />
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
