<app-menu-navbar></app-menu-navbar>

<div class="container">
  <div class="select-slider">
    <p-selectButton 
      [options]="stateOptions" 
      [(ngModel)]="selectedMode"
      optionValue="label"
      size="large"
      (onChange)="toggle()">
    </p-selectButton>
  </div>

  <ng-container *ngIf="optionToggle">
    <div class="register-div">
      <h4>{{ 'LOGIN_PAGE.CREATE_ACCOUNT' | translate }}</h4>
      <h5>{{ 'LOGIN_PAGE.ENTER_EMAIL_SIGNUP' | translate }}</h5>
      <div class="email-container mb-3">
        <input 
          placeholder="{{ 'LOGIN_PAGE.EMAIL' | translate }}" 
          class="input" 
          type="email" 
          [(ngModel)]="email"
          [ngClass]="{'invalid': !isEmailValid && isSubmitted}"
          required
        >
        <div *ngIf="!isEmailValid && isSubmitted" class="error-message">
          {{ 'LOGIN_PAGE.EMAIL_INVALID' | translate }}
        </div>
      </div>

      <ng-container *ngIf="showPasswordFields">
        <div class="password-container">
          <input 
            placeholder="{{ 'LOGIN_PAGE.USERNAME' | translate }}" 
            class="input mb-3" 
            type="text" 
            [(ngModel)]="username"
            required
          >
          <input 
            placeholder="{{ 'LOGIN_PAGE.PASSWORD' | translate }}" 
            class="input mb-3" 
            type="password" 
            [(ngModel)]="password"
            required
          >
          <p-select 
            class="mb-3"
            [options]="classOptions" 
            (onChange)="changeClass()" 
            [(ngModel)]="selectedClass" 
            placeholder="{{ 'LOGIN_PAGE.SELECT_OPTION' | translate }}">
          </p-select>

          <h6 style="color: red;">{{ errorMessage }}</h6>

          <ng-container *ngIf="isRealtor">
            <div class="realtor-section mb-3">
              <p-inputGroup>
                <p-select 
                  size="small"  
                  [options]="states" 
                  [virtualScroll]="true" 
                  virtualScrollItemSize="28"
                  [(ngModel)]="selectedState"
                  placeholder="{{ 'LOGIN_PAGE.SELECT_STATE' | translate }}">
                </p-select>
                <input 
                  type="text" 
                  pInputText 
                  placeholder="{{ 'LOGIN_PAGE.ENTER_CRECI' | translate }}"
                  [(ngModel)]="creci"
                  maxlength="6"
                  minlength="6"
                  required>
              </p-inputGroup>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <p-button 
        [label]="showPasswordFields ? ('LOGIN_PAGE.CREATE_ACCOUNT_BTN' | translate) : ('LOGIN_PAGE.SIGNUP_BTN' | translate)" 
        class="signup-btn"
        (onClick)="onSignupClick()"
      ></p-button>
      <h6>
        {{ 'LOGIN_PAGE.TERMS' | translate }} 
        <span class="link">{{ 'LOGIN_PAGE.TERMS_LINK' | translate }}</span> 
        {{ 'LOGIN_PAGE.TERMS' | translate }} 
        <span class="link">{{ 'LOGIN_PAGE.PRIVACY_LINK' | translate }}</span>
      </h6>
    </div>
  </ng-container>

  <ng-container *ngIf="!optionToggle">
    <div class="login-div">
      <h4>{{ 'LOGIN_PAGE.LOGIN' | translate }}</h4>
      <h5>Login to your account</h5>
      <div class="input-container">
        <input 
          placeholder="{{ 'LOGIN_PAGE.EMAIL' | translate }}" 
          class="input" 
          type="email" 
          [(ngModel)]="email"
          [ngClass]="{'invalid': !isEmailValid && isSubmitted}"
          required
        >
        <div *ngIf="!isEmailValid && isSubmitted" class="error-message">
          {{ 'LOGIN_PAGE.EMAIL_INVALID' | translate }}
        </div>
        <input 
          placeholder="{{ 'LOGIN_PAGE.PASSWORD' | translate }}" 
          class="input" 
          type="password" 
          [(ngModel)]="password"
          required
        >
      </div>

      <p-button 
        [label]="'LOGIN_PAGE.LOG_IN' | translate" 
        class="login-btn"
        (onClick)="onLoginClick()"
      ></p-button>
    </div>
  </ng-container>
</div>
