<div class="container">
  <p-button (onClick)="toggleSideBar()" icon="pi pi-bars" [rounded]="true" [raised]="true"/>
    <div class="icon">
      <h2>Real<span class="highlight-text">Tour</span></h2>
      <i class="pi pi-home highlight-text"></i>
    </div>
    <div class="side-bar">
    <p-drawer  [(visible)]="isSideBarVisible" [closable]="false">
        <ng-template #headless>
            <div class="icon">
                <h2>Real<span class="highlight-text">Tour</span></h2>
                <i class="pi pi-home highlight-text"></i>
            </div>
          
                             
        </ng-template>
        
    </p-drawer>
  </div>
</div>